/* custom */

.tile-header > span {
    font-family: Arial;
    line-height: 1.5em;
    margin: 1.5em 0 1em;
    font-size:16px;
}
#plonesocial-navigation li {
    display: inline;
    list-style-type: none;
    padding-right: 1em;
    font-size: 0.9em;
}

.documentDescription {
  color: $text-color-light;
  margin-bottom: 1em;
}

img.newsImage{
  float: right;
}


.callout {
    background-color: #ddd;
    color: #333;
    float: right;
    font-size: 85%;
    padding: 10px;
    width: 30%;
}

#glossary-definition-popup {
background: none repeat scroll 0 0 #FFF76E;
}
.highlightedGlossaryTerm {
  background: none repeat scroll 0 0 #FFF991;
  border-bottom: 1px dotted Black;
  cursor: help;
  z-index: 2;
}
